---
title: Daily Work
---
- data_dailywork = yaml_load_files('dailywork')
- data_daily = yaml_load_files('daily')
%table{border: 1, cellpadding: 9}

  %tr
    = partial 'td', locals: {rows: 3, sub: :nav}

    = partial 'td', locals: {rows: 1, content: data_dailywork[:general]}
    = partial 'td', locals: {rows: 1, content: data_dailywork[:workflow]}
    = partial 'td', locals: {rows: 1, content: data_dailywork[:code]}
    = partial 'td', locals: {rows: 1, content: data_dailywork[:rails_and_ruby]}

  %tr
    = partial 'td', locals: {rows: 1, content: data_dailywork[:deploy]}
    = partial 'td', locals: {rows: 1, content: data_dailywork[:prod]}
    = partial 'td', locals: {rows: 1, content: data_dailywork[:hub]}

    = partial 'td', locals: {rows: 1, content: data_dailywork[:cloud]}

  %tr
    = partial 'td', locals: {rows: 1, content: data_dailywork[:ci]}
    = partial 'td', locals: {rows: 1, content: data_dailywork[:content_discovery]}
    = partial 'td', locals: {rows: 1, content: data_dailywork[:cf]}
    = partial 'td', locals: {rows: 1, content: data_dailywork[:tools_cribs]}
