---
title: Play - Bass
---
- data = yaml_load_files('playbass')
%table{border: 1, cellpadding: 9}

  %tr
    = partial 'td', locals: {rows: 3, sub: :nav}

    = partial 'td', locals: {rows: 2, content: data[:bass]}
    = partial 'td', locals: {rows: 1, content: data[:find_a_band]}
    = partial 'td', locals: {rows: 2, content: data[:buy_sell_bass]}

  %tr

    = partial 'td', locals: {rows: 1, content: data[:buy_sell_pedals]}
